{% extends './base.html' %}

{% block title %}
    Upload
{% endblock %}

{% block content %}
    <h1>Upload an Image to Detect Mask</h1>
    <form action="/upload_photo" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="upload-file">
        <br><br>

        <!-- Image preview container -->
        <div id="image-preview-container" style="display: none;">
            <h3>Selected Image:</h3>
            <img id="image-preview" src="#" alt="Selected Image" style="max-width: 500px;">
        </div>
        <br><br>
        <input type="submit" value="Upload">
    </form>

    <script>
        // Function to preview selected image
        document.getElementById('upload-file').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function() {
                const imgPreview = document.getElementById('image-preview');
                imgPreview.src = reader.result;
                document.getElementById('image-preview-container').style.display = 'block';
            }

            if (file) {
                reader.readAsDataURL(file);
            }
        });
    </script>
{% endblock %}
